In [31]:
import numpy as np
import talib as ta
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

import platform
if platform.system() == 'Darwin':  # macOS
    plt.rcParams['font.family'] = ['Songti SC']
elif platform.system() == 'Windows':
    plt.rcParams['font.family'] = ['SimSun']
else:  # Linux
    plt.rcParams['font.family'] = ['Noto Sans CJK SC']

In [32]:
df = pd.read_csv('../data/train.csv', parse_dates=['date'])

df.tail()

,date,open,close,low,high,volume,count,amount,EMA20,EMA100,...,close_volatility,Volatility_10,close_Volume_volatility,Volume_volatility_10,UpperBB,MiddleBB,LowerBB,return_lag1,return_lag3,return_lag5
129423,2025-03-14 19:30:00,1903.79,1902.16,1900.53,1906.27,4.236822e+05,309,222.580688,1892.458380,1890.802673,...,-0.000709,0.005840,-300.588856,3776.756933,1902.474385,1894.3625,1886.250615,-0.000709,0.002789,0.002408
129424,2025-03-14 20:00:00,1902.02,1903.02,1898.06,1908.00,6.834686e+05,613,359.078023,1893.464248,1891.044600,...,0.000452,0.005628,308.938360,3709.814233,1903.726314,1894.9825,1886.238686,0.000452,0.002988,0.004715
129425,2025-03-14 20:30:00,1904.20,1902.37,1894.74,1904.80,7.959735e+05,431,418.917436,1894.312415,1891.268865,...,-0.000342,0.005653,-271.921042,3693.204569,1904.699802,1895.4890,1886.278198,-0.000342,-0.000599,0.002900
129426,2025-03-14 21:00:00,1902.36,1898.69,1897.29,1905.17,7.555606e+05,401,397.377574,1894.729328,1891.415819,...,-0.001936,0.005442,-1462.993959,3128.699573,1904.486070,1896.0795,1887.672930,-0.001934,-0.001824,0.000706
129427,2025-03-14 21:30:00,1898.94,1908.77,1892.19,1911.97,1.198781e+06,807,629.826012,1896.066535,1891.759466,...,0.005295,0.007119,6347.404428,6848.409519,1906.512380,1897.0625,1887.612620,0.005309,0.003022,0.002763

In [33]:
def check_time_serial(df, column='date',  freq ='1H', range=None):
    current_range = range
    if range is None:
        current_range = pd.date_range(start =df[column].min(), end=df[column].max(), freq=freq)
    missing_times = current_range.difference(df[column])
    print(f"时间序列总长度：{len(current_range)}, 实际数据长度：{len(df)}")
    print(f"缺失时间段数量：{len(missing_times)}，缺失的具体时间点：\n {missing_times}")
    # time_diffs = df['date'].diff().dropna()
    # invalid_diffs = time_diffs[time_diffs > pd.Timedelta(minutes=30)]
    # print(f"\n异常时间间隔：\n{invalid_diffs}")

check_time_serial(df, column='date', freq ='30min')

时间序列总长度：129428, 实际数据长度：129428
缺失时间段数量：0，缺失的具体时间点：
 DatetimeIndex([], dtype='datetime64[ns]', freq='30min')

In [ ]:
"""1小时数据"""
hour1_range = pd.date_range(start =df['date'].min(), end=df['date'].max(), freq='1H')

hour1_df = df[df['date'].isin(hour1_range)]

check_time_serial(hour1_df, freq='1H', range=hour1_range)
hour1_df.to_csv('../data/train-1hour.csv', index=False)

时间序列总长度：64714, 实际数据长度：64714
缺失时间段数量：0，缺失的具体时间点：
 DatetimeIndex([], dtype='datetime64[ns]', freq='h')

C:\Users\liufa\AppData\Local\Temp\ipykernel_26220\1512112164.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hour1_range = pd.date_range(start =df['date'].min(), end=df['date'].max(), freq='1H')

In [35]:
hour4_range = pd.date_range(start =df['date'].min(), end=df['date'].max(), freq='4H')

hour4_df = df[df['date'].isin(hour4_range)]

check_time_serial(hour1_df, freq='4H', range=hour1_range)
hour1_df.to_csv('../data/train-4hour.csv', index=False)

hour4_df.tail()

C:\Users\liufa\AppData\Local\Temp\ipykernel_26220\3687244199.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hour4_range = pd.date_range(start =df['date'].min(), end=df['date'].max(), freq='4H')

时间序列总长度：64714, 实际数据长度：64714
缺失时间段数量：0，缺失的具体时间点：
 DatetimeIndex([], dtype='datetime64[ns]', freq='h')

,date,open,close,low,high,volume,count,amount,EMA20,EMA100,...,close_volatility,Volatility_10,close_Volume_volatility,Volume_volatility_10,UpperBB,MiddleBB,LowerBB,return_lag1,return_lag3,return_lag5
129392,2025-03-14 04:00:00,1851.47,1857.02,1849.76,1859.28,2.752139e+06,846,1483.783428,1864.257382,1894.066392,...,0.003258,0.022329,8965.982885,53935.055409,1916.871753,1871.7305,1826.589247,0.003263,0.002878,0.016604
129400,2025-03-14 08:00:00,1864.57,1870.11,1861.37,1871.07,6.360994e+05,819,341.040800,1864.571403,1889.558385,...,0.002559,0.017409,1627.950975,42823.785214,1888.114114,1859.5375,1830.960886,0.002563,-0.005123,0.004280
129408,2025-03-14 12:00:00,1889.49,1893.42,1888.91,1896.84,5.275723e+05,354,278.606573,1876.863020,1889.014343,...,0.002279,0.006185,1202.284014,4203.915815,1902.004823,1869.8805,1837.756177,0.002281,0.000624,0.006528
129416,2025-03-14 16:00:00,1893.02,1898.26,1891.21,1902.50,8.929237e+05,552,470.580307,1886.242796,1889.699690,...,0.002902,0.006190,2590.903579,3841.332239,1906.277792,1885.5640,1864.850208,0.002906,0.001699,0.001609
129424,2025-03-14 20:00:00,1902.02,1903.02,1898.06,1908.00,6.834686e+05,613,359.078023,1893.464248,1891.044600,...,0.000452,0.005628,308.938360,3709.814233,1903.726314,1894.9825,1886.238686,0.000452,0.002988,0.004715

In [36]:
day1_range = pd.date_range(start =df['date'].min(), end=df['date'].max(), freq='1D')

day1_df = df[df['date'].isin(day1_range)]

check_time_serial(day1_df, freq='4H', range=day1_range)
day1_df.to_csv('../data/train-1day.csv', index=False)

day1_df.tail()

时间序列总长度：2697, 实际数据长度：2697
缺失时间段数量：0，缺失的具体时间点：
 DatetimeIndex([], dtype='datetime64[ns]', freq='D')

,date,open,close,low,high,volume,count,amount,EMA20,EMA100,...,close_volatility,Volatility_10,close_Volume_volatility,Volume_volatility_10,UpperBB,MiddleBB,LowerBB,return_lag1,return_lag3,return_lag5
129216,2025-03-10 12:00:00,2058.06,2070.94,2056.32,2076.88,7.746190e+05,648,374.429033,2050.570427,2119.332619,...,0.006346,0.016068,4915.516136,45876.301671,2069.594019,2036.1130,2002.631981,0.006366,0.006606,0.013354
129264,2025-03-11 12:00:00,1850.12,1874.67,1845.92,1876.81,2.936725e+06,1167,1577.528285,1880.189183,2013.504770,...,0.013047,0.039412,38315.524126,244645.233018,1903.553115,1859.2315,1814.909885,0.013133,0.007730,0.008478
129312,2025-03-12 12:00:00,1868.67,1856.83,1854.58,1868.76,1.769947e+06,1248,949.590729,1906.909204,1951.211703,...,-0.006201,0.012777,-10975.462224,20567.522376,1976.466200,1921.8285,1867.190800,-0.006182,-0.020613,-0.032987
129360,2025-03-13 12:00:00,1886.65,1877.32,1877.17,1891.75,7.089531e+05,577,376.240385,1893.222654,1914.514442,...,-0.005037,0.010240,-3571.028273,6860.632818,1916.571429,1894.2365,1871.901571,-0.005024,-0.006641,-0.015579
129408,2025-03-14 12:00:00,1889.49,1893.42,1888.91,1896.84,5.275723e+05,354,278.606573,1876.863020,1889.014343,...,0.002279,0.006185,1202.284014,4203.915815,1902.004823,1869.8805,1837.756177,0.002281,0.000624,0.006528